#___engine_mount_point:            # обязательно, не пустое
#___service                        # обязательно, не пустое
#___name:                          # обязательно, не пустое
#___key_list:                      

- name: Validate input parameters
  block:
    - name: Validate paths
      assert:
        that:
          - ___engine_mount_point is defined and ___engine_mount_point | length > 0
          - ___service is defined and ___service | length > 0
          - ___name is not none and ___name | length > 0
        fail_msg: "Ошибка: обязательные параметры создания секрета ( __engine_mount_point, ___service, ___name ) не заданы или пустые."
        success_msg: "Путь '___name' проверен успешно."
    
    - name: Validate key_list structure
      assert:
        that:
          - ___key_list is defined
          - ___key_list | type_debug == 'list'
          - ___key_list | length > 0
        fail_msg: "Ошибка: параметр ___key_list должен быть списком и содержать хотя бы один элемент."
        success_msg: "Структура ___key_list проверена успешно."
    
    - name: Validate each key item fields
      loop: "{{ ___key_list }}"
      loop_control:
        loop_var: key_item
      assert:
        that:
          - key_item.name is defined
          - key_item.name | length > 0
        fail_msg: "Ошибка: каждый элемент ___key_list должен содержать непустые поля name."
        success_msg: "Элементы ___key_list содержат корректные поля."


- name: Build transformed list for existing keys
  ansible.builtin.set_fact:
    __extra_transformed_list: >-
      {{
        (
          (__extra_transformed_list | default([])) +
          [{
            'name': item.name,
            'extra_parameters': item.extra_parameters | default({})
          }]
        )
        | unique(attribute='name')
      }}
  loop: "{{ ___key_list }}"
  loop_control:
    label: "{{ item.name }}"

- name: Update __path_lists in extra_path_manager
  ansible.builtin.set_fact:
    __path_lists: >-
      {{
        __path_lists | default({}) |
        combine({
          ___engine_mount_point: {
            ___service: {
              ___name: (
                (__path_lists[___engine_mount_point][___service][___name] | default([]))
                + __extra_transformed_list
              ) | unique(attribute='name')
            }
          }
        }, recursive=True)
      }}