- name: Copy values
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/tmp/{{ item | basename }}"
    mode: "0640"
  loop: "{{ helm.values_files | default([]) }}"
  register: _values_files

- name: List file path
  ansible.builtin.set_fact:
    __values_files: "{{ _values_files.results | map(attribute='dest') | list }}"

- name: Render templates
  kubernetes.core.helm_template:
    chart_ref: "{{ item.url }}"
  register: result
  loop: "{{ repo_oci_list }}"

- name: "Remove chart"
  kubernetes.core.helm:
    release_name: "{{ helm.release_name }}"
    release_namespace: "{{ helm.release_namespace }}"
    chart_ref: "{{ helm.chart_ref }}"
    release_state: "absent"
    atomic: true
    wait: true
    force: true
    timeout: "{{ helm.timeout | default('5m0s') }}"
  when: helm.clear_install

- name: "Install chart"
  kubernetes.core.helm:
    release_name: "{{ helm.release_name }}"
    release_namespace: "{{ helm.release_namespace }}"
    chart_ref: "{{ helm.chart_ref }}"
    release_state: "{{ helm.release_state | default('present') }}"
    atomic: "{{ helm.atomic | default(false) }}"
    wait: "{{ helm.wait | default(false) }}"
    release_values: "{{ helm.release_values | default(omit,true) }}"
    chart_version: "{{ helm.chart_version | default(omit,true) }}"
    force: "{{ helm.force | default(false) }}"
    timeout: "{{ helm.timeout | default('5m0s') }}"
    dependency_update: "{{ helm.dependency_update | default(false) }}"
    create_namespace: true
    values_files: "{{ __values_files | default([]) }}"